.accordion-collapse {
    transition: height 0.35s ease, opacity 0.25s ease;
}

.accordion-collapse.collapsing {
    opacity: 0;
}

.accordion-collapse.show {
    opacity: 1;
}
.accordion-button::after {
    transition: transform 0.3s ease;
}

.accordion-button:not(.collapsed)::after {
    transform: rotate(180deg);
}
.accordion-button {
    transition: background-color 0.25s ease;
}

.accordion-button:hover {
    background-color: #f1f3f5;
}

.invert img {
  filter: invert(100%);
}

.custom-card {
    background-color: #c9dcff;
}

.logo {
    border: 2px solid rgb(186, 201, 226);
    border-radius: 10px;
}
